# System files
*.ini
.DS_Store
desktop.ini

# Python cache
__pycache__/
*.py[cod]

# Virtual environments
.venv/
env/
venv/

# Sensitive files
.env

# Office and doc files
*.pptx
*.pdf
*.gdoc

# App-specific folders
Reports/
Datasets/
outputs/
cache/
.streamlit/
# Log or analysis outputs
*.log
*.tmp
*.bak
